
.iconoListVentajas{
    margin: 0rem 0.5rem;
}

.btnInformacion{
    background: #e6c000;
    border: 1px solid #e6c000;
    color: black;
    padding: 1rem 2rem;
    font-weight: bold;
    text-decoration: none;
}

.btnInformacion:hover{
    background: none;
    border: 1px solid #e6c000;
    color: #e6c000;
}


.btnInformacionCarrusel{
    background: #e6c000;
    border: 1px solid #e6c000;
    color: black;
    padding: 1rem 2rem;
    font-weight: bold;
}

.btnInformacionCarrusel:hover{
    background: none;
    border: 1px solid #e6c000;
    color: #e6c000;
}



.tituloSeccion{
    color: black;
    font-size: 2.6rem;
    font-weight: bold;
    padding: 0rem 2rem;
    border-bottom: 3px solid #e6c000;
    padding: 1rem 0rem;
}

.tituloSeccion_Servicios{
    color: white;
    font-size: 2.6rem;
    font-weight: bold;
    padding: 0rem 4rem;
    border-bottom: 3px solid #e6c000;
    padding: 1rem 0rem;
}

.tituloSeccion2{
    color: white;
    font-size: 2.6rem;
    font-weight: bold;
    padding: 0rem 4rem;
    border-bottom: 3px solid #e6c000;
    padding: 1rem 0rem;
}

.tituloSeccion3{
    color: black;
    font-size: 2.6rem;
    font-weight: bold;
    border-bottom: 3px solid #e6c000;
    padding: 1rem 0rem;
}

.listaParrafos{
    background: #e6c000; padding: 1rem 1rem; font-size: 1rem;
}


.serviciosTitulo{
    color: black; 
    font-size: 1.5rem; 
    margin: 0rem 0rem;
}

.textoSeccion{
    font-size: 1.2rem;
}


.contenedorSeccion{
    padding: 5rem 0rem;
}

.contenedorSeccionPiePagina{
    padding: 5rem 0rem 2rem 0rem;
}

.bgVision{
    background: rgb(224, 224, 224);
}

.bgGuardia{
    background: white;
}

.bgResponsabilidad{
    background: rgb(224, 224, 224);
}

.bgPiePagina{
    background: black;
}

.bgServicios{
    background: rgb(48, 48, 48)
}


.labelPiePagina{
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-right: 3px solid #e6c000;
    padding-right: 1rem;
}

.textoPiePagina{
    color: white;
    font-size: 0.8rem;
    margin: 0px 0px;
}

.textoRedSocialPiePagina{
    color: white;
    font-size: 1.5rem;
}

.contenedorPiePaginaDerechos{
    text-align: center;
}

.textoDerechos{
    color: white;
    margin: 0px 0px;
}

.tituloDerechos{
    color: white;
    margin: 0px 0px;
}

.btnMenuPrincipal{
    text-decoration: none !important;
    color: black !important;
}

.btnMenuPrincipal:hover{
    background: #e6c000 !important;
    color: black !important;
}


.btnMenuDesplegable{
    justify-content: right;
}

.carruselImgCentral{
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carruselImgCentral::before{
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}


.img_carrusel_1{
    background-image: url("../img/img35.png");
}

.img_carrusel_2{
    background-image: url("../img/img34.png");
}

.img_carrusel_3{
    background-image: url("../img/img31.png");
}

.contenedorInfoCarrusel{
    position: absolute;
    bottom: 100px;
    right: 15%;
    left: 15%;
}

.textoInfo1{
    color: #e6c000;
    font-size: 3rem;
    font-weight: bold;
}

.textoInfo2{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.textoInfo3{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.textoInfoCarrusel{
    color: white;
    font-size: 1.2rem;
}

.contenedorServicio{
    width: 100%; 
    padding: 1rem 0.5rem; 
    background: #e6c000; 
    text-align: center;
}

.btnMasInformacionServicio{
    display: flex;
    background: #e6c000;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.btnMasInformacionServicio a{
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.listaValores{
    font-size: 1rem;
}

.textoSegSeccion{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.contenedorRedSocial{
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icoRedSocial i{
    padding: 0.5rem 0.5rem;
    color: white;
    background: #e6c000;
}

.textoRedSocial{
    color: white;
    margin: 0;
    padding: 0rem 1rem;
}

@media only screen and (max-width: 980px) {
    

    .tituloSeccion{
        font-size: 1.5rem;
    }
    
    .tituloSeccion_Servicios{
        font-size: 1.5rem;
    }
    
    .tituloSeccion2{
        font-size: 1.5rem;
    }
    
    .tituloSeccion3{
        font-size: 1.5rem;
    }

    .textoSeccion{
        font-size: 1rem;
    }

    .listaParrafos{
        font-size: 0.6rem;
    }

    .serviciosTitulo{
        font-size: 1rem;
    }

    .contenedorSeccionPiePagina{
        text-align: center;
    }

    .btnMasInformacionServicio a{
        font-size: 1.2rem;
    }

}

@media only screen and (max-width: 538px) {
    

    .displayImg{
        display: none;
    }

    .contenedorMenu{
        position: absolute;
        top: 0;
    }

    .contenedorMenu2{
        position: absolute;
        top: 0;
    }

    .contenedorMenu ul{
        position: absolute;
        top: 0;
        left: -250px;
        display: inline-block !important;
        width: 200px;
        height: 100vh;
        background: rgb(255, 255, 255);
        transform: translateX(0);
        transition: all 1s ease;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        z-index: 1000;
    }

    .contenedorMenu2 ul{
        position: absolute;
        top: 0;
        left: -250px;
        display: inline-block !important;
        width: 200px;
        height: 100vh;
        background: rgb(255, 255, 255);
        transform: translate(220px, 0px);
        transition: all 1s ease;
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
        z-index: 1000;
    }

    .contenedorMenu ul li a{
        border-bottom: 2px solid rgb(241, 241, 241);
    }

    .contenedorMenu2 ul li a{
        border-bottom: 2px solid rgb(241, 241, 241);
    }


    .carruselImgCentral{
        height: 500px;
    }

    .textoInfo1{
        font-size: 2rem;
    }
    
    .textoInfo2{
        font-size: 2rem;
    }
    
    .textoInfo3{
        font-size: 2rem;
    }
    
    .textoInfoCarrusel{
        font-size: 1rem;
    }

    .textoRedSocial{
        font-size: 0.6rem;
    }

}

@media only screen and (min-width: 538px) {
    

    .btnMenuDesplegable{
        display: none;
    }

}